
h1 {

    color: #EBF500;
    font-family: Edwardian Script ITC;
    font-size: 180px;
    border: #EBA00B;
    
}
h2 {

    color: #EBF500;
    font-family: Edwardian Script ITC;
    font-size: 150px;
    border: #EBA00B;
    
}

.containerh-fluid {
    background-image: url(/img/header.png);
    background-size: cover;
    height: 645px;

}

.containerb-fluid {
    background-image: url(/img/thaiti-768x432.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.containerf-fluid {
    background-image: url(/img/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}


.imgheader-fluid {
    margin-top: 0%;
    margin-left: 0%;
    width: 100%;
    height: 645px;
    
}

.titrePrincipal {
    top: 0px;
    font: normal normal normal 159px/187px Edwardian Script ITC;
    letter-spacing: 0px;
    color: #EBF500;
    opacity: 1;
}

.slogan {
    top: 512px;
    height: auto;
    bottom: 0px;
    text-align: auto;
    font: normal normal normal 96px/127px Matura MT Script Capitals;
    letter-spacing: 0px;
    color: #FF0000;
    opacity: 1;
    position: absolute;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('img/9.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  