header
{
    position: relative;
    top: auto;
    margin-top: 0%;
    height: 200px;
    width: auto;
    border: black solid;
    text-align: center;
}

footer{
    position: absolute;
    top: 1000px;
    bottom: 0px;
    border: solid blueviolet;
    text-align: center  ;
    height: 100px;
    width:1500px;
}