header
{
    margin-top: 0%;
    height: 200px;
    width: 1000px;
    border: black solid;
    text-align: center;
}


footer{
    margin-top: 0%;
    height: 200px;
    width: 1000px;
    border: black solid;
    text-align: center;
}